<div class="block_full for_tagline_button">
<div class="tagline-button" id="tagline_button_4">
<h1 class="message_block" id="tagline_canvas_4">So.. How the heck does this all work?</h1>
<h4><p><br><br><img src="images/HAshrink.png" width=60 alt="Hashrink"> works by "reversing" a SHA hash, applying some filters, then letting you choose the original file from the remaining candidates.</p><p>
Impossible, you say? Poppycock!<br><br>
Of course it's possible, it's just <a href="#drawbacks">not very quick</a>. And it requires a <i>bit</i> of manual intervention.
</h4>
<a id="button_tagline_4" class="button_tagline" href="/demo">Try a demo</a>

<div class="clear"></div>
</div><!-- end .tagline-button -->
</div><!-- end .block_full -->
</div><!-- end .wrap_960 -->

